body {
  font-family: "Mulish", sans-serif;
  background: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  padding: 100px;
  height: 100%;
}

h1 {
  text-align: center;
  display: block;
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
}

form {
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}

li {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
}
button {
  border: none;
  font-size: 16px;
  background: transparent;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 250px;
  top: -58px;
  background: #979494a9;
  color: white;
  border-radius: 10px;
}
button:hover,
.submit-button:hover {
  background: transparent;
  color: black;
  cursor: pointer;
}

.card-text {
  font-size: 40px;
}
.temperature {
  font-size: 60px;
}

.weather-app {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
  max-width: 750px;
  margin: 20px auto;
  min-width: 600px;
}
.units {
  position: relative;
  top: -30px;
}
.text-center {
  background-color: transparent;
}
.me {
  text-align: center;
}
.submit-button {
  font-size: 16px;
  background: transparent;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  border: none;
  background: #979494a9;
  color: white;
  border-radius: 10px;
  margin: 15px;
}
